<h1 mat-dialog-title>{{data.productName}}</h1>
<div mat-dialog-content>
  

    <mat-list role="list">
        <mat-list-item role="listitem">
            <div>Seller 1</div>
            <button mat-raised-button color="primary">Invite</button>
        </mat-list-item>
        <mat-list-item role="listitem">seller 2</mat-list-item>
        <mat-list-item role="listitem">seller 3</mat-list-item>
      </mat-list>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] >close</button>
</div>