<h1 mat-dialog-title>Interested sellers</h1>
<div mat-dialog-content>
  

    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let seller of data.interestedUsersEmail">
          {{seller}}
            <button mat-raised-button color="primary" [disabled]="(data.invitedUsersEmail.indexOf(userEmail)>-1) || buttonClicked"(click)="onInvite(data)">Invite</button>
        </mat-list-item>
      
  
      </mat-list>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] >close</button>
</div>