<!-- <h1 mat-dialog-title>Interested sellers</h1>
<div mat-dialog-content>
  

    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let seller of data.interestedUsersEmail">
          {{seller}}
            <button mat-raised-button color="primary" [disabled]="(data.invitedUsersEmail.indexOf(userEmail)>-1) || buttonClicked"(click)="onInvite(data)">Invite</button>
        </mat-list-item>
      
  
      </mat-list>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] >close</button>
</div> -->


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   
  
  
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.get}} </td>
    </ng-container> -->
  
  
    <ng-container matColumnDef="sellerEmail">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.interestedUsersEmail}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell>
         <button>Invite</button></td>
    </ng-container>
  
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  
  