<div mat-dialog-content style="overflow : hidden;">
  <div>
    <div> Auction Details:</div>

    <mat-list role="list">

      <mat-list-item>
        <div fxFlex=70%>Price</div>
        <div fxFlex=30%>{{data.price}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <div fxFlex=70%>Credit Period</div>
        <div fxFlex=30%>{{data.creditPeriod + ' months'}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>


      <mat-list-item>
        <div fxFlex=70%>Quality Certification</div>
        <div fxFlex=30%>{{data.qualityCertification}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>


      <mat-list-item>
        <div fxFlex=70%>Method Of Supply</div>
        <div fxFlex=30%>{{data.methodOfSupply}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <div fxFlex=70%>Delivery Date</div>
        <div fxFlex=30%>{{data.deliveryDate | date}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>

    </mat-list>
  </div>

  <div *ngIf="data.interestedUsersEmail.size > 0">
    <h1 mat-dialog-title>Interested sellers</h1>
    <div mat-dialog-content>


      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let seller of data.interestedUsersEmail">
          {{seller}}
          <button mat-raised-button color="primary" (click)="onClick()">Invite</button>
        </mat-list-item>


      </mat-list>

    </div>
  </div>
  <br>

  <div mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end" fxLayoutGap="1em">
    <mat-dialog-actions fxLayout="row nowrap" fxLayoutAlign="end center">
      <button mat-raised-button (click)="close()">Back to Dashboard</button>
      <button color="primary" mat-raised-button (click)="startAuction(data)">Start Auction</button>
    </mat-dialog-actions>
  </div>

</div>
<br>
