<!-- <form [formGroup]="registrationForm" class="regForm">
        <h1> Registration Form :</h1>

          <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput placeholder="Name" type="text" formControlName="name">
          </mat-form-field><br>

          <mat-form-field>
            <mat-label>email:</mat-label>
            <input matInput type="email" formControlName="email">
          </mat-form-field><br>

          <mat-form-field>
            <mat-label>Address:</mat-label>
            <input matInput type="textarea" formControlName="address">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Phone:</mat-label>
            <input matInput type="number" formControlName="phone">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Company Name:</mat-label>
            <input matInput type="text" formControlName="companyName">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Username:</mat-label>
            <input matInput type="text" formControlName="userName">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Business License No:</mat-label>
            <input matInput type="text" formControlName="businessLicense">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Role:</mat-label>
            <input matInput type="text" formControlName="role">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Domain:</mat-label>
            <input matInput type="text" formControlName="domainName">  
          </mat-form-field>

          <mat-form-field>
            <mat-label>Sub-Domain:</mat-label>
            <input matInput type="text" formControlName="subDomain">
          </mat-form-field>

        </form> -->

<!-- <form [formGroup]="registrationForm">
  
        <label>
          Name:
          <input type="text" formControlName="name">
        </label>
      
        <label>
          email:
          <input type="email" formControlName="email">
        </label>
      
</form> -->

<mat-toolbar class="header">
        <div class="head">Registration Form</div>
</mat-toolbar>

<mat-card-content>
        <form class="regForm">
           <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Name</mat-label>
                <input  matInput name="fname"  required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Email</mat-label>
                <input  matInput name="email"  required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Address</mat-label>
                <input  matInput name="address"  required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Phone</mat-label>
                <input  matInput name="phone" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Company Name</mat-label>
                <input  matInput name="cName" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Username</mat-label>
                <input  matInput name="userName" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Business License No.</mat-label>
                <input  matInput name="businessLicense" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Role</mat-label>
                <input  matInput name="role" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Domain Name</mat-label>
                <input  matInput name="domainName"  required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Sub-Domain</mat-label>
                <input  matInput name="subDomain" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Set Password</mat-label>
                <input  matInput name="BCryptPassword" required>
            </mat-form-field>        
            
            <div class="btn">
            <button mat-raised-button color="primary">REGISTER</button>
            </div>
        </form>
</mat-card-content>

