<mat-toolbar class="header">
        <div class="head">Registration Form</div>
</mat-toolbar>

<mat-card-content>
        <form class="regForm" [formGroup]="registrationForm">
           <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Name</mat-label>
                <input  matInput name="fname" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Email</mat-label>
                <input  matInput name="email" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Address</mat-label>
                <input  matInput name="address" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Phone</mat-label>
                <input  matInput name="phone" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Company Name</mat-label>
                <input  matInput name="cName" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Username</mat-label>
                <input  matInput name="userName" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Business License No.</mat-label>
                <input  matInput name="businessLicense" required>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Role</mat-label>
                <input  matInput name="role" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label class="form-label">Business Domain:</mat-label>
                <input matInput type="text" disabled value="Agriculture" formControName="businessDomain">
            </mat-form-field>
            
            <mat-form-field appearance="outline" >
                <mat-label class="form-label" >Business Sub-domain:</mat-label>
                <mat-select id="subDomain-select" formControlName="businessSubDomain">
                <mat-option value="" disabled>Choose your Sub-domain</mat-option>
                <mat-option *ngFor="let subs of subDomains" [value]="subs">{{subs}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Set Password</mat-label>
                <input  matInput name="BCryptPassword" required>
            </mat-form-field>        
            
            <div class="btn">
            <button mat-raised-button color="primary">REGISTER</button>
            </div>
        </form>
</mat-card-content>

