<mat-toolbar class="header">
        <div class="head">Registration Form</div>
</mat-toolbar>

<mat-card-content>
        <form class="regForm" [formGroup]="registrationForm">
           <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Name</mat-label>
                <input  matInput formControlName="name" required />
                <mat-hint align="start">*Not more then 30 characters long.</mat-hint>
                <mat-error *ngIf="name.touched || name.invalid">{{getErrorMessage1()}}</mat-error>
            </mat-form-field>

            <!-- <form class="logForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="fullWidth" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input  matInput formControlName="userName" required/>
                    <mat-error *ngIf="userName.touched || userName.invalid">{{getErrorMessage1()}}</mat-error>
                </mat-form-field> -->

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Email</mat-label>
                <input  matInput formControlName="email" required />
                <mat-error *ngIf="email.touched || email.invalid">{{getErrorMessage2()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Address</mat-label>
                <input  matInput formControlName="address" required />
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Phone</mat-label>
                <input  matInput formControlName="phone" placeholder="default country code (+91)" required />
                <mat-hint align="start">*Do not enter country code.</mat-hint>
                <mat-error *ngIf="phone.touched || phone.invalid">{{getErrorMessage3()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Company Name</mat-label>
                <input  matInput formControlName="companyName" required>
                <mat-error *ngIf="companyName.touched || companyName.invalid">{{getErrorMessage4()}}</mat-error>
            </mat-form-field>

            <!-- <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Username</mat-label>
                <input  matInput formControlName="userName" required>
                <mat-error *ngIf="userName.touched || userName.invalid">{{getErrorMessage5()}}</mat-error>
            </mat-form-field> -->

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Business License No.</mat-label>
                <input  matInput formControlName="businessLicense" required>
                <mat-hint align="start">*GSTIN Egs: 27AAPFU0939F1ZV, 27AASCS2460H1Z0</mat-hint>
                <mat-error *ngIf="businessLicense.touched || businessLicense.invalid">{{getErrorMessage7()}}</mat-error>
            </mat-form-field>
<!-- 
            <mat-form-field appearance="outline" class="fullWidth" >
                <mat-label class="form-label" >Role:</mat-label>
                <mat-select id="role-select" formControlName="role">
                <mat-option value="" disabled>Choose your Role</mat-option>
                <mat-option *ngFor="let roles of roles" [value]="roles">{{roles}}
                </mat-option>
                </mat-select>
                <mat-error *ngIf="role.touched || role.invalid">{{getErrorMessage8()}}</mat-error>
            </mat-form-field> -->

            <mat-form-field appearance="outline" class="fullWidth" >
                <mat-label class="form-label" >Your role as a user</mat-label>
                <mat-select id="subDomain-select" formControlName="role">
                <mat-option value="" disabled>Chooe your role</mat-option>
                <mat-option value="buyer">Buyer</mat-option>
                <mat-option value="seller">Seller</mat-option>
                <mat-option value="both">Buyer and Seller</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="fullWidth">
                <mat-label class="form-label">Business Domain:</mat-label>
                <input matInput type="text" disabled value="Agriculture" formControName="businessDomain">
                <mat-error *ngIf="businessDomain.touched || businessDomain.invalid">{{getErrorMessage8()}}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="fullWidth" >
                <mat-label class="form-label" >Business Sub-domain:</mat-label>
                <mat-select id="subDomain-select" formControlName="businessSubDomain">
                <mat-option value="" disabled>Choose your Sub-domain</mat-option>
                <mat-option *ngFor="let subs of subDomains" [value]="subs">{{subs}}
                </mat-option>
                </mat-select>
                <mat-error *ngIf="businessSubDomain.touched || businessSubDomain.invalid">{{getErrorMessage8()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Set Password</mat-label>
                <input  matInput type="password" formControlName="password" required>
                <mat-hint align="start">*Special characters allowed: &,@,$,_,.,#,!</mat-hint>
                <mat-error *ngIf="password.touched || password.invalid">{{getErrorMessage6()}}</mat-error>
            </mat-form-field>        
            <mat-card-actions>    
                <div class="btn">
                    <button mat-raised-button color="primary" [disabled]='!registrationForm.valid' type="submit" (click)="onSubmit()">REGISTER</button>
                </div>
            </mat-card-actions>
        </form>
</mat-card-content>

