<div fxLayout="column" fxLayoutAlign="center center">
    <div class="image1">
        <i class="material-icons">account_circle</i>
    </div>
    <div class="welcome">
        <h1>Welcome, Pratik Ninawe!</h1>
    </div>
</div>
<div class="profile" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div><h2>Profile</h2></div>
    </div>
    <div fxFlex="20"></div>
</div>

<div>
    <div fxFlex="20"></div>
    <div fxFlex="60">
        <div fxLayout="row" fxLayoutAlign="center center" fxFill>
            <div fxFlex="30">PHOTO</div>
            <div fxFlex="60">A photo helps to personalize better</div>
            <div fxFlex="20" fxLayoutAlign="center center">
                <i class="material-icons" style="font-size: 1rem" >camera_alt</i>
                <i class="material-icons" style="font-size: 3rem">account_circle</i></div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div>

<div class="name">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div fxLayout="row" fxFill>
            <div fxFlex="30">NAME</div>
            <div fxFlex="60">Pratik Ninawe</div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div> 

<div class="name">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div fxLayout="row" fxFill>
            <div fxFlex="30">EMAIL</div>
            <div fxFlex="60">ninawe.pratik@gmail.com</div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div>

<div class="name">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div fxLayout="row" fxFill>
            <div fxFlex="30">ADDRESS</div>
            <div fxFlex="60">Stack Route, Kormangala, Bangalore</div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div>

<div class="name">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div fxLayout="row" fxFill>
            <div fxFlex="30">PHONE</div>
            <div fxFlex="60">+91-9560481165</div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div>

<div class="name">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div fxLayout="row" fxFill>
            <div fxFlex="30">COMPANY NAME</div>
            <div fxFlex="60">Boeing Private Limited</div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div>

<div class="name">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div fxLayout="row" fxFill>
            <div fxFlex="30">USERNAME</div>
            <div fxFlex="60" aria-disabled>prats99</div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div>

<div class="name">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div fxLayout="row" fxFill>
            <div fxFlex="30">BUSINESS LICENSE</div>
            <div fxFlex="60" aria-disabled>27AAPFU0939F1ZV</div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div>

<div class="name">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div fxLayout="row" fxFill>
            <div fxFlex="30">ROLE</div>
            <div fxFlex="60" aria-disabled>BUYER</div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div>

<div class="name">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div fxLayout="row" fxFill>
            <div fxFlex="30">BUSINESS DOMAIN</div>
            <div fxFlex="60">AGRICULTURE</div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div>

<div class="name">
    <div fxFlex="20"></div>
    <div fxFlex="60" fxLayout="row">
        <div fxLayout="row" fxFill>
            <div fxFlex="30">SUB-DOMAIN</div>
            <div fxFlex="60">AGRICULTURE</div>
        </div>
    </div>
    <div fxFlex="20"></div>
</div>

<div class="name">
    <div fxFlex="20"></div>
    <div fxFlex="60">
    <button mat-raised-button color="primary" ngClick="onClick()">EDIT INFORMATION</button>
    </div>
    <div fxFlex="20"></div>
</div>