<div class="dashboard-container">
  <mat-tab-group class="tab-container" fxLayoutGap="5px" fxHide.xs [selectedIndex]="0">
    <mat-tab *ngFor="let section of dashboardSections" [label]="section.label">

      <div *ngIf="section.label=='Ongoing Auctions'">
          <app-auction-card  *ngFor="let auction of auctions"
          [auction]="auction"></app-auction-card>
    
      </div>
      <div *ngIf="section.label=='Active Proposals'" fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutGap="15px"
        fxLayout.sm="column"  fxLayoutAlign.sm="space-around center">

        <app-new-proposal-card *ngFor="let proposal of proposals"
        [proposal]="proposal"></app-new-proposal-card>
  
        
       

      </div>
      <div *ngIf="section.label=='Past Auctions'" fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="15px" fxLayout.sm="column">
        <p>Past Auctions</p>
      </div>
    </mat-tab>
  </mat-tab-group>

  <mat-accordion class="tab-container" fxHide.gt-xs>
    <mat-expansion-panel *ngFor="let section of dashboardSections" [expanded]="section.isActive">
      <mat-expansion-panel-header>
        <mat-panel-title>{{section.label}}</mat-panel-title>
        <mat-panel-description>{{section.desc}}</mat-panel-description>

      </mat-expansion-panel-header>
      <div *ngIf="section.label=='Ongoing Auctions'">
          <app-auction-card></app-auction-card>
      </div>
      <div *ngIf="section.label=='Active Proposals'">
        <mat-card *ngFor="let proposal of dashboardSections[1].data" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Product: {{proposal.productName}} </mat-card-title>
            <mat-card-subtitle>{{proposal.businessSubDomain}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-between stretch">
              <div>Price: {{proposal.price}}</div>
              <div>Delivery Date: {{proposal.deliveryDate}}</div>
              <div>Quantity: {{proposal.quantity}} </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button>Extend Registration</button>
            <button mat-raised-button>Interested Sellers</button>
            <button mat-raised-button>Remove</button>

          </mat-card-actions>
        </mat-card>
      </div>
      <div *ngIf="section.label=='Past Auctions'">
        <p>Past Auctions</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<a mat-fab class="add-proposal-button" matTooltip="add a new proposal" [routerLink]="['/new']">
  <mat-icon>add</mat-icon>
</a>