.add-proposal-button {
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 2;
}

.dashboard-container {
    width: 90%;
    /* background-color: lightgray; */
    margin: 2em auto;
}
.proposal-card {
    background-color: light rgba(6, 56, 97, 0.829);
    width: 350px;
    padding: 1em 1em 1em 1em;
  }

.timer {
    align-content: center ;
}

.product-specs {
    padding: 3em;
}