<div class="dashboard-container">
    <mat-tab-group class="tab-container" fxHide.xs [selectedIndex]="0">
        <mat-tab *ngFor="let section of dashboardSections" [label]="section.label">
  
                <div *ngIf="section.label=='Ongoing Auctions'">
                        <p>Auction list</p>
                    </div>
                    <div *ngIf="section.label=='Active Proposals'" fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <mat-card *ngFor="let proposal of dashboardSections[1].data" class="example-card">
                        <mat-card-header class="mat-head">
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Product name: {{proposal.productName}} </mat-card-title>
                          <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <img class="example-card-image"mat-card-image src="https://picsum.photos/300" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            Price: {{proposal.price}}, Delivery Date: {{proposal.deliveryDate}} <br>
                            Quantity: {{proposal.quantity}}   <br>
                            <app-timer></app-timer>
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <mat-chip mat-raised-button style="align:start;">Interested Sellers:</mat-chip>
                          <button mat-raised-button align="end" click()="openDialog()">View</button>
                        </mat-card-actions>
                      </mat-card> 
                    </div>
                    <div *ngIf="section.label=='Past Auctions'">
                        <p>Past Auctions</p>
                    </div>
        </mat-tab>
    </mat-tab-group>
    
    <mat-accordion  class="tab-container" fxHide.gt-xs>
        <mat-expansion-panel *ngFor="let section of dashboardSections" [expanded]="section.isActive">
            <mat-expansion-panel-header>
                <mat-panel-title>{{section.label}}</mat-panel-title>
                <mat-panel-description>{{section.desc}}</mat-panel-description>

            </mat-expansion-panel-header>
            <div *ngIf="section.label=='Ongoing Auctions'">
                <p>Auction list</p>
            </div>
            <div *ngIf="section.label=='Active Proposals'">
            <mat-card *ngFor="let proposal of dashboardSections[1].data" class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Product name: {{proposal.productName}} </mat-card-title>
                  <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Price: {{proposal.price}}, Delivery Date: {{proposal.deliveryDate}} <br>
                    Quantity: {{proposal.quantity}}   <br>
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button>Extend Registration</button>
                  <button mat-raised-button>Interested Sellers</button>
                </mat-card-actions>
              </mat-card> 
            </div>
            <div *ngIf="section.label=='Past Auctions'">
                <p>Past Auctions</p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<!-- 
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://picsum.photos/300" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
   -->

<a mat-fab class="add-proposal-button" matTooltip="add a new proposal" [routerLink]="['/new']">
    <mat-icon>add</mat-icon>
</a>

