.title {
    margin-left: 2em;
}
  
.title-icon {
    margin-left: 1em;
}  

.dashboard-container {
    width: 90%;
    margin: 2em auto;
}
.proposal-card {
    background-color: light rgba(6, 56, 97, 0.829);
    width: 350px;
    padding: 1em;
}

.timer {
    align-content: center ;
}

.product-specs {
    padding: 3em;
}

.fab-container {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    z-index: 2;
}

.add-proposal-button {
    margin: 0.5em 0;
}