<mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'8em'" [expandedHeight]="'11em'" fxLayout="row" class="mat-elevation-z4">
        <div class="profile-image" fxFlex="0 0 auto">
            <img src="https://picsum.photos/100" alt="">
        </div>
        <div class="bid-primary-container" fxLayout="column" fxLayoutAlign="space-around">
            <span >{{bidDataEntity.createdBy}}</span>
            <mat-divider></mat-divider>
            <mat-chip-list>
                <mat-chip matTooltip="Price">Price: {{bidDataEntity.bid.price}}</mat-chip>
                <mat-chip matTooltip="Score">Score: {{bidDataEntity.score}}</mat-chip>
            </mat-chip-list>
       </div>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutAlign="space-between" class="bid-body">
        <span matTooltip="Delivery Date">Time of Delivery: {{bidDataEntity.bid.timeOfDelivery | date}}</span>
        <span matTooltip="Credit period (Months)">Credit Period: {{bidDataEntity.bid.creditPeriod}}</span>
    </div>
</mat-expansion-panel>
