<h1 mat-dialog-title>Edit Profile</h1>
<div mat-dialog-content>
    <form class="editForm" fxLayout="column" fxLayoutAlign="center center" [formGroup]="editProfileForm">
        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" [value]="data.name" readonly="true" />
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" [value]="data.email" readonly="true" />
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" [value]="data.address" />
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" placeholder="+91" required [value]="data.phone" />
            <mat-error *ngIf="phone.touched || phone.invalid">{{phoneErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Company Name</mat-label>
            <input matInput formControlName="companyName" required [value]="data.companyName">
            <mat-error *ngIf="companyName.touched || companyName.invalid">{{commpanyNameErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="userName" [value]="data.userName" readonly="true" />
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Business License No.</mat-label>
            <input matInput formControlName="businessLicense" required [value]="data.businessLicense">
            <mat-error *ngIf="businessLicense.touched || businessLicense.invalid">{{businessLicenseErrorMessage()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="fullWidth">
            <mat-label class="form-label">Business Domain:</mat-label>
            <input matInput type="text" value="Agriculture" formControName="businessDomain" readonly="true" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="fullWidth">
            <mat-label class="form-label">Business Sub-domain:</mat-label>
            <mat-select id="subDomain-select" formControlName="businessSubDomain">
                <mat-option value="" disabled>Choose your Sub-domain</mat-option>
                <mat-option *ngFor="let subs of subDomains" [value]="data.businessSubDomain">{{subs}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-dialog-actions>
            <button mat-raised-button mat-dialog-close>Cancel</button>
            <button mat-raised-button color="primary" mat-dialog-close (click)="onConfirm()">Confirm</button>
        </mat-dialog-actions>
    </form>
</div>