<h1 mat-dialog-title>Confirm Proposal Details</h1>
<div mat-dialog-content>
        <mat-list fxLayout="column" fxLayoutAlign="space-evenly center" >
                <mat-list-item>Business Sub-Domain: {{ data.form1.value.businessSubDomain}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Product Name: {{ data.form1.value.productName}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Price: {{ data.form2.value.price}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Quantity: {{ data.form1.value.quantity}} </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Delivery Date: {{ data.form2.value.deliveryDate}} </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Registration Start Date: {{ data.form3.value.regStartDate}} </mat-list-item>
         </mat-list>
         <mat-dialog-actions>
         <button mat-raised-button mat-dialog-close>Edit</button>
         <button mat-raised-button color="primary" mat-dialog-close (click)="onConfirm()">Confirm</button>
        </mat-dialog-actions>
</div>
