<!-- Our team Section -->
<section id="team" class="team content-section">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h2>TEAM SLEEPYCATZZZZ</h2>
              <h3 class="caption gray">MEET THE BATAOCHODS</h3>
            </div><!-- /.col-md-12 -->
      
            <div class="container">
              <div class="row">
      
              
                 <div class="col-md-4" *ngFor="let hero of heros"> 
                        <div class="team-member">
                          <figure>
                            <img src="../../assets/Images/{{hero}}.png" alt="" class="img-responsive">
                            <figcaption>
                              <p>BATAO</p>
                              <ul>
                                <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                              </ul>
                            </figcaption>
                          </figure>
                          <h4>{{hero}}</h4>
                          <p>BATAO!!</p>
                        </div><!-- /.team-member-->
                      </div>
      
      
              </div><!-- /.row -->
            </div><!-- /.container -->
      
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.our-team -->