<app-navbar (menuToggled)="sideNav.toggle()" ></app-navbar>
<mat-sidenav-container>
    <mat-sidenav #sideNav [mode]="'over'" [fixedInViewport]="true" [position]="'start'" color="primary" [disableClose]="false" [fixedTopGap]="56">
        <mat-nav-list *ngIf="!isLoggedIn" fxHide.gt-xs>
            <a mat-list-item [routerLink]="['/']" class="nav-link nav-icon">Login</a>
            <a mat-list-item [routerLink]="['/']" class="nav-link nav-icon">About Us</a>
            <a mat-list-item [routerLink]="['/']" class="nav-link nav-icon">Contact</a>
        </mat-nav-list>
        <mat-nav-list *ngIf="isLoggedIn">
            <a *ngFor="let navlink of navLinks" mat-list-item [routerLink]="[navlink.href]" class="nav-link nav-icon">{{navlink.name}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="page-content">
        <app-page-title></app-page-title>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>