.proposal-card {
  background-image: url("../../../assets/Images/wheat.png");
  background-size: 20%;
  opacity: 0.4;
    /* margin:1%;
    padding: 1%;
    max-width: 450px; */
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .head
{
    background-color: #ad1457;
   color: antiquewhite;
   text-align: center; 
}
  