/* .body {
background-image: url(/src/main/resources/frontend/src/assets/night.jpg);
  background-repeat: no-repeat;
  background: 100%;
}
.form-container {
  display: flex;
  flex-direction: row;
  text-align: center; 
  margin: 50px 250px;
}
.first-form {
    display: flex;
    background-color: #b1b967;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    margin: 3%;
    opacity: 1;
    width: 100%;

  }

  h1 {
    align-content: center;
  }

  .header {
    background: lightgray;
  }
  .head {
    align-content: center;
    margin: 30%;
  } */

  

  /* .form-label {
    color: black;
  } */