.form-container {
  background-image: url('../../../assets/Images/leave.jpg');
  margin: 1em;

}
.title {
  margin-left: 2em;
}

.title-icon {
  margin-left: 1em;
}

.body {
  background-color:white;
  align-content: center;
}

.stepper {
  /* background-color: ; */
  width: 80%;
  margin: 2em 6em 2em 6em;
  /* align-content: center; */
}

/* .prod-details {
  width: 50%;
} */

.grid-container {
  margin: 2em 0;
}

.radio-btn {
  padding: 0 1em;
}

.padded-btn {
  margin: 0.5em 1em;
}

.know-weightage {
  margin: 2em;
  padding: 1em;
  border-style: ridge;
  border-width: 2px;
}
