<div formGroupName="productSpecsForm">
  <h1>New Proposal Form </h1>
  <h2>Product Details</h2>
    <mat-form-field>
      <mat-label>Subdomain:</mat-label>
      <input type="text" formControlName="subDomain">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Product name:</mat-label>
      <input type="text" formControlName="productName">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Quantity:</mat-label>
      <input type="text" formControlName="quantity">
    </mat-form-field>
  
  </div>


