<mat-chip-list aria-label="Timer Display"> 
    <mat-chip *ngIf="toStartMsg!= null" color ="warn">{{toStartMsg}}</mat-chip><br>   
    <mat-chip matTooltip="Days::hours:minutes" color= "primary" *ngIf="seconds!=null" selected>
        <span *ngIf="days!=null" >{{days}}d</span>::
        <span *ngIf="hours!=null" >{{hours}}hr</span>:
        <span *ngIf="minutes!=null" >{{minutes}}min</span>
    </mat-chip>
    <mat-chip *ngIf="endedMsg!= null" color ="warn">{{endedMsg}}</mat-chip>     
</mat-chip-list>
