<!-- fixme:: instead of auction starts in timer should display registeration ends in  -->
<div class="proposal-card mat-elevation-z6" fxLayout="column nowrap" fxLayoutAlign="space-between">
    <div class="header-container" fxLayout="column nowrap" fxLayoutAlign="flex-start stretch">
        <div class="card-header" fxFlexAlign="center" >{{allProposal.productName}}</div>
        <div class="card-subtitle" fxLayout="row nowrap" fxLayoutAlign="space-around">
            <div class="subdomain" fxFlexAlign="center" >{{ allProposal.businessSubDomain }}</div>
            <div class="timer">
                <app-timer
                style="align-content:flex-end ;"
                [timerDetails]="allProposal"
                ></app-timer>
            </div>
        </div>
    </div>
    <div class="info-container"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    >
    <div>
        <i class="fa fa-money" aria-hidden="true" matTooltip="Price">
            {{ allProposal.price }}</i>
        </div>
        <div>
            <i class="fa fa-balance-scale" aria-hidden="true" matTooltip="Quantity">
                {{ allProposal.quantityValue + " " + allProposal.quantityUnit }}</i
                >
            </div>
            <div>
                <i
                class="fa fa-calendar-o"
                aria-hidden="true"
                matTooltip="Registeration End-Date"
                style="transform: scale3d(10);"
                >
                {{ allProposal.regEndDate | date: "mediumDate" }}</i
                >
            </div>
            
        </div>
        
        <div style="margin-bottom: 0.5em;">
            <div fxLayout="row nowrap" fxLayoutAlign="space-around center">
                <button mat-raised-button color="primary"
        [disabled]="(allProposal.interestedUsersEmail.indexOf(userEmail)>-1) || buttonClicked"
        (click)="shownInterest(allProposal)">
        <i class="fa fa-registered" color="primary" matTooltip="Register for Auction" aria-hidden="true">Show Interest</i>
      </button>
      <mat-icon matTooltip="See Details" class="material-icons" (click)="openDialog(allProposal)">visibility</mat-icon>
        </div>   
    </div>
</div>
