<h1 mat-dialog-title align="center">{{data.productName}}</h1>
<div mat-dialog-content style="overflow : hidden;">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Product Details
        </mat-panel-title>
        <mat-panel-description>View Product Specifications here</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <!-- <mat-list-item role="listitem" >Price: {{data.price}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Quantity: {{data.quantityValue + ' ' + data.quantityUnit}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Delivery Date: {{data.deliveryDate| date: 'mediumDate'}}</mat-list-item> -->

        <mat-list-item>
          <div fxFill>{{ data.productDescription}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div fxFlex=70%>Price</div>
          <div fxFlex=30%><span matPrefix>&#8377;&nbsp;</span>{{ data.price}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div fxFlex=70%>Quantity</div>
          <div fxFlex=30%>{{ data.quantityValue + ' ' + data.quantityUnit}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div fxFlex=70%>Delivery Date</div>
          <div fxFlex=30%>{{ data.deliveryDate | date: 'mediumDate'}}</div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel><br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Weights
        </mat-panel-title>
        <mat-panel-description>Here are the weights you specified</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <div fxFlex=70%>Price Weight</div>
          <div fxFlex=30%>{{data.priceWeight}}</div>

        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div fxFlex=70%>Credit Period Weight </div>
          <div fxFlex=30%> {{data.creditPeriodWeight}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div fxFlex=70%>Delivery Date Weight</div>
          <div fxFlex=30%> {{data.deliveryDateWeight}}</div>

        </mat-list-item>
      </mat-list>
    </mat-expansion-panel><br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Start and End Dates
        </mat-panel-title>
        <mat-panel-description>Details about various Dates</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <div fxFlex=70%>Registartion starts on </div>
          <div fxFlex=30%>{{data.regStartDate | date: 'mediumDate'}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div fxFlex=70%>Registration ends on</div>
          <div fxFlex=30%> {{data.regEndDate | date: 'mediumDate'}}
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div fxFlex=70%>Auction starts on</div>
          <div fxFlex=30%>>{{data.auctionStartDate | date: 'mediumDate'}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <div fxFlex=70%>Auction ends on</div>
          <div fxFlex=30%>{{data.auctionEndDate | date: 'mediumDate'}}</div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel><br>
  </mat-accordion>
</div>
<div mat-dialog-actions *ngIf="isBuyer||(isBuyer&&isSeller)" fxLayout="row wrap" fxLayoutAlign="end center"
  fxLayoutGap="1em">

  <button mat-raised-button mat-dialog-close color="secondary">Close</button>
  <button mat-raised-button mat-dialog-close>Bidder's List</button>
  <button mat-raised-button mat-dialog-close>Extend Registration</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="startAuction(data)">Generate Auction</button>

</div>


<!-- <button mat-button [mat-dialog-close] color="secondary">close</button> -->