<h1 mat-dialog-title>Product Name: {{data.productName}}</h1>
<div mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Product Specs
        </mat-panel-title>
        <mat-panel-description>You can view Product Specifications here</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">Product Price: {{data.price}}</mat-list-item>
        <mat-list-item role="listitem">Quantity: {{data.quantityValue + ' ' + data.quantityUnit}}</mat-list-item>
        <mat-list-item role="listitem">Delivery Date: {{data.deliveryDate}}</mat-list-item>
      </mat-list>
    </mat-expansion-panel><br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Weights
        </mat-panel-title>
        <mat-panel-description>Here are the weights you specified</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">Price Weight: {{data.priceWeight}}</mat-list-item>
        <mat-list-item role="listitem">Credit Period Weight: {{data.creditPeriodWeight}}</mat-list-item>
        <mat-list-item role="listitem">Delivery Date Weight: {{data.deliveryDataWeight}}</mat-list-item>
      </mat-list>
    </mat-expansion-panel><br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Start and End Dates
        </mat-panel-title>
        <mat-panel-description>Details about various Dates</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">Registartion starts on: {{data.regStartDate}}</mat-list-item>
        <mat-list-item role="listitem">Registration ends on: {{data.regEndDate}}</mat-list-item>
        <mat-list-item role="listitem">Auction starts on: {{data.auctionStartDate}}</mat-list-item>
        <mat-list-item role="listitem">Auction ends on: {{data.auctionEndDate}}</mat-list-item>
      </mat-list>
    </mat-expansion-panel><br>
  </mat-accordion>
</div>
<div mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end" fxLayoutGap="1em">
  
    <button mat-raised-button mat-dialog-close color="secondary">Close</button>
    <button mat-raised-button color="primary" mat-dialog-close >Bidder's List</button>
    <button mat-raised-button color="primary" mat-dialog-close >Extend Registration</button>
    <button mat-raised-button color="primary" mat-dialog-close >Generate Auction</button>
  
</div>


<!-- <button mat-button [mat-dialog-close] color="secondary">close</button> -->
