<mat-card class="auction-card">
    <mat-card-header>
      <mat-card-title [style.color]="'red'">{{auction.auctionName}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://picsum.photos/300">
    <mat-card-content>
      <p>
       Price: {{auction.proposal.price}}
        <br>
        Credit Period: {{auction.proposal.creditPeriod}}
        <br>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <app-button></app-button>

      <button mat-raised-button (click) = "placeBid()">Participate</button>

    </mat-card-actions>
  </mat-card>
  