   <div class="proposal-card mat-elevation-z6" fxLayout="column nowrap" fxLayoutAlign="space-between">
       <div class="header-container" fxLayout="column nowrap" fxLayoutAlign="flex-start stretch">
           <div class="card-header" fxFlexAlign="center" matTooltip="Product Name" >{{auction.auctionName}}</div>
           <div class="card-subtitle" fxLayout="row nowrap" fxLayoutAlign="space-around">
               <div class="subdomain" fxFlexAlign="center" matTooltip="Business Sub-Domain" >{{auction.proposal.businessSubDomain}}</div>
               <div class="timer">
                   <app-timer
                   style="align-content:flex-end ;"
                   [timerDetails]="auction"
                   ></app-timer>
               </div>
           </div>
       </div>
       <div class="info-container" fxLayout="row wrap"fxLayoutAlign="center center">
       <div>
           <i class="fa fa-money" aria-hidden="true" matTooltip="Expected Cost in ">
              {{auction.proposal.price}} per unit</i
               >
           </div>
           <div>
               <i class="fa fa-handshake-o" aria-hidden="true" matTooltip="{{auction.createdBy}} is willing to pay-up in">
                  {{auction.proposal.creditPeriod + 'Days'}}</i
                   >
               </div>
               <div>
                   <i
                   class="fa fa-check-circle-o"
                   aria-hidden="true"
                   matTooltip="Quality Check Certified"
                   *ngIf= "auction.proposal.qualityCertification == true"
                   style="transform: scale3d(10);"
                   >
                   {{qualityMsgTrue}}</i
                   >
               </div>
               <div>
                  <i
                  class="fa fa-times"
                  aria-hidden="true"
                  matTooltip="Quality Check Uncertified"
                  style="transform: scale3d(10);"
                  *ngIf= "auction.proposal.qualityCertification != true"
                  >
                  {{qualityMsgFalse}}</i
                  >
              </div>
               <div>
                   <i
                   class="fa fa-cog"
                   aria-hidden="true"
                   matTooltip="Type of Product Supply"
                   *ngIf= "auction.proposal.methodOfSupply == true"
                   >
                   {{supplyTrue}}</i
                   >
               </div>
               <div>
                  <i
                  class="fa fa-cog"
                  aria-hidden="true"
                  matTooltip="How procurement is to be done"
                  *ngIf= "auction.proposal.methodOfSupply != true"
                  >
                  {{supplyFalse}}</i
                  >
              </div>
               <div>
                  <i
                  class="fa fa-truck"
                  aria-hidden="true"
                  matTooltip="Expected Delivery Date"
                  >
                  {{auction.proposal.deliveryDate | date: "mediumDate"}}</i
                  >
              </div>
           </div>
           
           <div class="card-actions" *ngIf="showAnyButton === undefined">
               <div fxLayout="row nowrap" fxLayoutAlign="space-around center">
               <i class="fa fa-hand-paper-o"
               (click)="placeBid()"
               *ngIf= buttonShow 
               aria-hidden="true"
               color = "primary"
               style="cursor: pointer;"
               >Bid
               </i>
               <i class="fa fa-eye"
                aria-hidden="true" 
                (click) = "seeBids()"
                *ngIf= !buttonShow 
                style="cursor: pointer;"
                >View All Bids</i>
           </div>
       </div>
   </div>