<div>


    <h1>
        Contract
    </h1>
    <mat-card>
        <mat-card-content>
            <section>
                <ul>
                    <li>Product Name {{productName | titlecase}} </li>
                    <li>Product Description {{contract.auctionDetails.proposal.productDescription}}</li>
                    <li>Quantity {{contract.auctionDetails.proposal.quantityValue}}{{contract.auctionDetails.proposal.quantityUnit}}</li>
                    <li>Method of Supply {{contract.bidDetails.bid.typeOfSupply}}</li>
                    <li>Quality Certification {{contract.bidDetails.bid.qaqcCertificate}}</li>
                    <li>Delivery Date {{contract.bidDetails.bid.timeOfDelivery | date:'mediumDate'}}</li>
                    <li>Price {{contract.bidDetails.bid.price}}</li>
                    <li>Credit Period {{contract.bidDetails.bid.creditPeriod}}days</li>
                </ul>
            </section>
        </mat-card-content>
    </mat-card>
    <article>
        <p>
            This Tripartite Contract is between /*BuyerName*/ of /*CompanyName*/ hereinafter called Buyer, /*SellerName*/ of /*CompanyName*/ hereinafter called Supplier and Gablum Private Litmited hereinafter called GPL and is effective starting on /*Today */ till
            the contract is fulfilled.
        </p>
        <p>
            The Contract binds the Buyer and Supplier to perform the required duties as agreed in the auction process, which are as following
        </p>
        <ul>
            <li>The Supplier and Buyer participated fairly in the auction process held on Gablum platform during /*AuctionStartDate*/ and /*AuctionEndDate*/ for /*ProductName*/ with Specification /*ProductSpecs*/ </li>
            <li>The Supplier will provide above mentioned product to the buyer on or before /*DeliveryDate*/ to the address /*Address*/ </li>
            <li>The Buyer will have have credit period of /*CreditPeriod*/ days from /*Today*/ to provide the agreed amount of /*price*/ per /*unit*/. The details, of breakup or installments can be worked between Buyer and Supplier at their discretion.
            </li>
        </ul>
        <p>
            In case of default of the Buyer or Supplier parties, GPL will not be liable for any legal action ensuing from the said default. In such cases, suitable actions like blacklist of at-fault party from GPL's platforms can be taken, at sole discretion of GPL.
        </p>
        <p>
            Legal Team,
        </p>
        <p>
            Gablum Private Limited
        </p>
    </article>
</div>