<h1 mat-dialog-title>
    Contract
</h1>
<div mat-dialog-content style="overflow: scroll; overflow-x: hidden">
    <h3>
        Product Name - {{productName | titlecase}}
    </h3>
    <h4>
        Product Description {{contract.auctionDetails.proposal.productDescription}}
    </h4>
    <h4>
        Quantity {{contract.auctionDetails.proposal.quantityValue}}{{contract.auctionDetails.proposal.quantityUnit}}
    </h4>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <section>
                <h4>
                    Auction Details :
                </h4>
                <ul>
                    <div *ngIf="contract.auctionDetails.proposal.methodOfSupply == true">
                        <li>
                            Method of Supply - Full
                        </li>
                    </div>
                    <div *ngIf="contract.auctionDetails.proposal.methodOfSupply != true">
                        <li>
                            Method of Supply - Parts
                        </li>
                    </div>
                    <div *ngIf="contract.auctionDetails.proposal.qualityCertification == true">
                        <li>
                            Quality Certification - Required
                        </li>
                    </div>
                    <div *ngIf="contract.auctionDetails.proposal.qualityCertification != true">
                        <li>
                            Quality Certification - Optional
                        </li>
                    </div>
                    <li>Delivery Date {{contract.auctionDetails.proposal.deliveryDate | date:'mediumDate'}}</li>
                    <li>Price {{contract.auctionDetails.proposal.price}} per {{contract.auctionDetails.proposal.quantityUnit}} </li>
                    <li>Credit Period {{contract.auctionDetails.proposal.creditPeriod}} days</li>
                </ul>
            </section>
        </mat-grid-tile>
        <mat-grid-tile>
            <section>
                <h4>
                    Bid Details :
                </h4>
                <ul>
                    <div *ngIf="contract.auctionDetails.proposal.methodOfSupply == true">
                        <li>
                            Method of Supply - Full
                        </li>
                    </div>
                    <div *ngIf="contract.auctionDetails.proposal.methodOfSupply != true">
                        <li>
                            Method of Supply - Parts
                        </li>
                    </div>
                    <div *ngIf="contract.auctionDetails.proposal.qualityCertification == true">
                        <li>
                            Quality Certification - Required
                        </li>
                    </div>
                    <div *ngIf="contract.auctionDetails.proposal.qualityCertification != true">
                        <li>
                            Quality Certification - Optional
                        </li>
                    </div>
                    <li>Delivery Date {{contract.bidDetails.bid.timeOfDelivery | date:'mediumDate'}}</li>
                    <li>Price {{contract.bidDetails.bid.price}} per {{contract.auctionDetails.proposal.quantityUnit}} </li>
                    <li>Credit Period {{contract.bidDetails.bid.creditPeriod}}days</li>
                </ul>
            </section>
        </mat-grid-tile>
    </mat-grid-list>
    <article>
        <p>
            This Tripartite Contract is between {{buyer.name | titlecase}} of firm {{ buyer.companyName | titlecase}} hereinafter called Buyer, {{seller.name | titlecase}} of firm {{ buyer.companyName | titlecase}} hereinafter called Supplier and Gablum Private Litmited
            hereinafter called GPL and is effective starting on today till the contract is fulfilled.
        </p>
        <p>
            The Contract binds the Buyer and Supplier to perform the required duties as agreed in the auction process, which are as following
        </p>
        <ul>
            <li>The Supplier and Buyer participated fairly in the auction process held on Gablum platform during {{contract.auctionDetails.auctionStartDate | date: 'mediumDate'}} and {{contract.auctionDetails.auctionEndDate | date: 'mediumDate'}} for {{contract.auctionDetails.proposal.productName}}
                of ' {{contract.auctionDetails.proposal.productDescription}} ' specifications mentioned in the Auction </li>
            <li>The Supplier will provide above mentioned product to the buyer on or before {{contract.bidDetails.bid.timeOfDelivery | date: 'mediumDate'}} mentioned in the bid</li>
            <li>The Buyer will have have credit period of {{contract.bidDetails.bid.creditPeriod}} days from the delivery date to provide the agreed amount of {{contract.bidDetails.bid.price}} per {{contract.auctionDetails.proposal.quantityUnit}}. The details,
                of breakup or installments can be worked between Buyer and Supplier at their discretion.
            </li>
        </ul>
        <p>
            In case of default of the Buyer or Supplier parties, GPL will not be liable for any legal action ensuing from the said default. In such cases, suitable actions like blacklist of at-fault party from GPL's platforms can be taken, at sole discretion of GPL.
        </p>
        <p>
            Legal Team,
        </p>
        <p>
            Gablum Private Limited
        </p>
    </article>
</div>