<mat-toolbar color="primary">
    <mat-icon class="title-icon">book</mat-icon>
    <span class="title" fxHide.xs>Past Contracts</span>
    <span class="title" fxHide.gt-xs>Contracts</span>
</mat-toolbar>
<mat-accordion class="contract-headers-align">
    <section>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Contract No
                </mat-panel-title>
                <mat-panel-description>
                    Product Description, Seller Name, Delivery Date, Credit Period
                </mat-panel-description>
            </mat-expansion-panel-header>
            <h1>
                Contract
            </h1>
            <mat-card>
                <mat-card-content>
                    <section>
                        <ul>
                            <li>Product Name /*productName*/ </li>
                            <li>Seller Name /*sellerName*/; Company Name /*companyName*/</li>
                            <li>Delivery Date /*deliveryDate*/</li>
                            <li>Credit Period /*creditPeriod*/</li>
                        </ul>
                    </section>
                </mat-card-content>
            </mat-card>
            <article>
                <p>
                    This Tripartite Contract is between /*BuyerName*/ of /*CompanyName*/ hereinafter called Buyer, /*SellerName*/ of /*CompanyName*/ hereinafter called Seller and Gablum Private Litmited hereinafter called GPL and is effective starting on /*Today */ till
                    the contract is fulfilled.
                </p>
                <p>
                    The Contract binds the Buyer and Seller to perform the required duties as agreed in the auction process, which are as following
                </p>
                <ul>
                    <li>The Seller and Buyer participated fairly in the auction process held on Gablum platform during /*AuctionStartDate*/ and /*AuctionEndDate*/ for /*ProductName*/ with Specification /*ProductSpecs*/ </li>
                    <li>The Seller will provide above mentioned product to the buyer on or before /*DeliveryDate*/ to the address /*Address*/ </li>
                    <li>The Buyer will have have credit period of /*CreditPeriod*/ months from /*Today*/ to provide the agreed amount of /*TotalPrice*/. The details, of breakup or installments can be worked between Buyer and Seller at their discretion.
                    </li>
                </ul>
                <p>
                    In case of default of the Buyer or Seller parties, GPL will not be liable for any legal action ensuing from the said default. In such cases, suitable actions like blacklist of at-fault party from GPL's platforms can be taken, at sole discretion of GPL.
                </p>
                <p>
                    Legal Team,
                </p>
                <p>
                    Gablum Private Limited
                </p>
            </article>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Contract No
                </mat-panel-title>
                <mat-panel-description>
                    Product Description, Seller Name, Delivery Date, Credit Period
                </mat-panel-description>
            </mat-expansion-panel-header>
            <h1>
                Contract
            </h1>
            <mat-card>
                <mat-card-content>
                    <section>
                        <ul>
                            <li>Product Name /*productName*/ </li>
                            <li>Seller Name /*sellerName*/; Company Name /*companyName*/</li>
                            <li>Delivery Date /*deliveryDate*/</li>
                            <li>Credit Period /*creditPeriod*/</li>
                        </ul>
                    </section>
                </mat-card-content>
            </mat-card>
            <article>
                <p>
                    This Tripartite Contract is between /*BuyerName*/ of /*CompanyName*/ hereinafter called Buyer, /*SellerName*/ of /*CompanyName*/ hereinafter called Seller and Gablum Private Litmited hereinafter called GPL and is effective starting on /*Today */ till
                    the contract is fulfilled.
                </p>
                <p>
                    The Contract binds the Buyer and Seller to perform the required duties as agreed in the auction process, which are as following
                </p>
                <ul>
                    <li>The Seller and Buyer participated fairly in the auction process held on Gablum platform during /*AuctionStartDate*/ and /*AuctionEndDate*/ for /*ProductName*/ with Specification /*ProductSpecs*/ </li>
                    <li>The Seller will provide above mentioned product to the buyer on or before /*DeliveryDate*/ to the address /*Address*/ </li>
                    <li>The Buyer will have have credit period of /*CreditPeriod*/ months from /*Today*/ to provide the agreed amount of /*TotalPrice*/. The details, of breakup or installments can be worked between Buyer and Seller at their discretion.
                    </li>
                </ul>
                <p>
                    In case of default of the Buyer or Seller parties, GPL will not be liable for any legal action ensuing from the said default. In such cases, suitable actions like blacklist of at-fault party from GPL's platforms can be taken, at sole discretion of GPL.
                </p>
                <p>
                    Legal Team,
                </p>
                <p>
                    Gablum Private Limited
                </p>
            </article>
        </mat-expansion-panel>
    </section>
</mat-accordion>