<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div mat-card class="proposal-card" fxLayout="column">
    <div mat-card-header class="head" style= "color: primary;">
        <mat-card-title matTooltip="Product Name">Product</mat-card-title>
        <mat-card-subtitle style="color: white;" fxLayout="row" fxLayoutAlign="space-around center">
            <div>
                <h2 class="mat-subheading-1" matTooltip="Belongs to  Business Sub-Domain">
                    SubDomain
                </h2>
            </div>
        </mat-card-subtitle>
    </div>
    <mat-card-content>
        <div fxLayoutAlign="space-between">
            <i class="fa fa-money" aria-hidden="true" matTooltip="Price"></i>
            <p class="mat-body-2">Price</p>
        </div>
        <div fxLayoutAlign="space-between">
            <i class="fa fa-balance-scale" aria-hidden="true" matTooltip="Quantity"></i>
            <p class="mat-body-2">Quantity Unit</p>
            <!-- <mat-chip color="primary" selected="true">Quantity </mat-chip>
      <mat-chip>{{
        proposal.quantityValue + " " + proposal.quantityUnit
      }}</mat-chip> -->
        </div>
        <div fxLayoutAlign="space-between">
            <i class="fa fa-calendar-o" aria-hidden="true" matTooltip="Registeration End-Date"></i>
            <p class="mat-body-2">DeliveryDate</p>
            <!-- <mat-chip color="primary" selected="true"
        >Registration End Date
      </mat-chip>
      <mat-chip>{{ proposal.regEndDate | date: "mediumDate" }}</mat-chip> -->
        </div>
        <div fxLayoutAlign="space-between">
            <i class="fa fa-calendar" aria-hidden="true" matTooltip="Registeration End-Date"></i>
            <p class="mat-body-2">Credit Period</p>
            <!-- <mat-chip color="primary" selected="true">Auction End Date </mat-chip>
      <mat-chip>{{ proposal.auctionEndDate | date: "mediumDate" }}</mat-chip> -->
        </div>
    </mat-card-content>

    <!-- <mat-card-actions>
    <div fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="space-around center">
      <mat-icon
        matBadge="{{ proposal.interested }}"
        matBadgePosition="before"
        matBadgeColor="warm"
        (click)="sellersListDialog(proposal)"
        class="material-icons"
        matTooltip="Interested Sellers"
      >
        list
      </mat-icon>

      <mat-icon
        matTooltip="Extend Registration"
        class="material-icons"
        (click)="extendDialog(proposal)"
      >
        hourglass_empty
      </mat-icon>
      <mat-icon
        matTooltip="Delete Proposal"
        class="material-icons"
        (click)="delete(proposal)"
        >delete</mat-icon
      >
      <mat-icon
        matTooltip="See Details"
        class="material-icons"
        (click)="openDialog(proposal)"
        >visibility</mat-icon
      >
      <mat-icon
        matTooltip="Start Auction"
        class="material-icons"
        (click)="startAuction(proposal)"
      >
        play_arrow
      </mat-icon>
    </div>
  </mat-card-actions>
  <!-- </div> -->
</div>