/* .title {
    margin-left: 2em;
}

.title-icon {
    margin-left: 1em;
}

mat-card {
    background-color: rgb(245, 245, 245);
    padding: 4px;
    font-family: monospace;
}

mat-form-field {
    margin-right: 12px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

article {
    text-align: justify;
    font-family: monospace;
}

.contract-card {
    height: 20em;
    background: white;
    border-radius: 0.4em;
    overflow: hidden;
  }
  
  .header-container {
    background-color: rgb(230, 230, 230);
  }
  
  .card-header  {
    margin: 1em 2em;
  }
  
  .info-container > div {
    margin: 1em 0.8em;
  } */

  .proposal-card {
    /* height: 20em; */
    background: white;
    border-radius: 0.4em;
    overflow: hidden;
  }
  
  .header-container {
    background-color: rgb(230, 230, 230);
  }
  
  .card-header  {
    margin: 1em 2em;
  }
  
  .info-container > div {
    margin: 1em 0.8em;
  }