<mat-toolbar class="mat-elevation-z8" color="primary">
    <nav class="navbar-base" >
        <button class="menu-link nav-icon" mat-icon-button (click)="menuClicked($event)" fxHide.gt-xs *ngIf="!isLoggedIn">
                <mat-icon>menu</mat-icon>
        </button>
        <button class="menu-link nav-icon" mat-icon-button (click)="menuClicked($event)" *ngIf="isLoggedIn">
            <mat-icon>menu</mat-icon>
        </button>
        <a [routerLink]="['/']" class="home-link nav-icon" fxHide.xs *ngIf="!isLoggedIn">Gablum</a>
        <a [routerLink]="['/']" class="home-link nav-icon" fxHide.gt-xs *ngIf="!isLoggedIn">b</a>
        <a [routerLink]="['/dashboard']" class="home-link nav-icon" fxHide.xs *ngIf="isLoggedIn">Gablum</a>
        <a [routerLink]="['/dashboard']" class="home-link nav-icon" fxHide.gt-xs *ngIf="isLoggedIn">b</a>
        <div class="spacer"></div>
        
        <div class="nav-links" *ngIf="!isLoggedIn" fxLayout="row" fxHide.xs>
            <a [routerLink]="['.']" class="nav-link nav-icon" (click)="opDialog()">Login</a>
            <a [routerLink]="['/']" fragment="about" class="nav-link nav-icon">About Us</a>
            <a [routerLink]="['/']" fragment="contact" class="nav-link nav-icon">Contact</a>
        </div>
        <button class="menu-link nav-icon" nav-link nav-icon mat-button color="primary" [matMenuTriggerFor]="langMenu">
            <mat-icon>language</mat-icon>
        </button>
        <mat-menu #langMenu="matMenu">
            <button mat-button class="logout" (click)="changeLang('en')">English</button>    
            <button mat-button class="logout" (click)="changeLang('hi')">Hindi</button>    
        </mat-menu>
        <button class="menu-link nav-icon" nav-link nav-icon *ngIf="isLoggedIn" mat-button color="primary" [matMenuTriggerFor]="appMenu">
            <span *ngIf="userProfile && userProfile.name">{{ userProfile.name.split(' ')[0] | titlecase }} </span>
            <mat-icon>person</mat-icon>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
            <a [routerLink]="['/profile']" routerLinkActive="router-link-active"  class="profile-short-container" fxLayout="column nowrap" fxLayoutAlign="space-around center" matTooltip="view your profile">
                <div class="profile-short-image">
                    <img src="https://picsum.photos/400/400">
                </div>
                <span *ngIf="userProfile">{{userProfile.name}}</span>
            </a>
            <mat-divider></mat-divider>
            <button mat-button class="logout" (click)="logout()">
                Logout
                <mat-icon [ngStyle]="{'color': 'black'}">exit_to_app</mat-icon>
            </button>
        </mat-menu>
    </nav>
</mat-toolbar>
