.hero-container {
    width: 100%;
    height: calc(100vh - 56px);
    background-image: url("https://picsum.photos/1600/1200");
    background-image:  linear-gradient(to bottom, rgba(173, 20, 87, 1.0), rgba(173, 20, 87, 0.2)), url("https://picsum.photos/1600/1200");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text-container {
    color: antiquewhite;
    padding: 0 2em;
}

.hero-text-container > h2 {
    text-align: center;
    font-weight: lighter;
}

.login-container {
}