/* FOOTER */
.cont{
	border-style: solid;
	/* height:200px; */
}

.box1
{
	/* height:200px; */
	background:blue;
	border-style: solid;
}
.box2
{
	/* height:200px; */
	border-style: solid;
	background: green;
	/* justify-content: center;
	display: flex;
	flex-direction: column; */
	
}
.footer
{
    background: #222;
    color: white;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
	z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

/* FOOTER */
